# LAB-02 함수의 이해 조건문과 반복문

## #1.함수의 이해

### type() 내장함수 사용

In [88]:
#정수형 변수의 데이터 타입 확인
age = 10
type0fAge = type(age)
print(type0fAge)          #int

#문자열 변수의 데이터 타입 확인
message = "Hello Python" 
type0fMessge = type(message)
print(type0fMessge)             #str

#실수형 변수의 데이터 타입 확인
pi = 3.14
type0fpi = type(pi)
print(type0fpi)       #float

<class 'int'>
<class 'str'>
<class 'float'>

In [89]:
#사용자 입력값 받기
msg1 = input("메시지를 입력하세요")
print(msg1)

#입력받은 내용의 데이터 타입 확인 --> 문자열(str)
t = type(msg1)
print(t)

<class 'str'>

In [90]:
#문자열 변수간의 연산은 덧셈만 가능, -> 문자열 연결
s = "Hello" + "Python"
print(s)

#input()함수를 통해 입력받은 값은 문자열로 인식
a = input(" 첫 번째 금액을 입력하세요")
b = input(" 두 번째 금액을 입력하세요")
print(a+b)

HelloPython
m

### 문자열의 정수, 실수 변환

In [91]:
# 입력받은 값을 정수 타입으로 변환
msg2 = input("정수를 입력하세요")
num = int(msg2)
print(num)

#정수를 실수로 변환 --> 정수 뒤에 '0'이 추가

#변환 결과의 데이터 타입 확인 --> 정수(int)
num_type =type(num)
print(num_type)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#입력받은 값을 실수 타입으로 변환
msg3 = input("실수를 입력하세요")
flum = float(msg3)
print(flum)

#실수를 정수로 변환 --> 소수점 버림

#변환 결과의 데이터 타입 확인 ---> 실수(float)
flum_type = type(flum)
print(flum_type)

123.34
<class 'float'>

### 문자열로 변환

In [ ]:
#모든 데이터 타입을 문자열로 변환
num1 = 100
s1 = str(num1)
print(type(num1), type(s1))

<class 'int'> <class 'str'>

### 간단한 연산 기능 함수

In [ ]:
# 제곱근 구하기 ---> '2**8'연산과 동일
a = pow(2,8)
print(a)

#절댓값 구하기
b = abs(-100)
print(b)

256
100

## #2.파이썬 함수의 정의와 호출

In [ ]:
# 기본적인 함수의 정의 방법

def say_hello():    
    print("hello python")
    print("안녕 파이썬")

In [ ]:
#정의한 함수 호출
''' jupyter환경은 코드 블록이 서로 다르더라도 
이전에 실행된 내역을 모두 기억하고 있기 때문에 
코드의 진행이 서로 연결'''
say_hello()
say_hello()

hello python
안녕 파이썬
hello python
안녕 파이썬

### 함수에 파라미터를전달하지 않을 경우 에러 발생

In [ ]:
#파라미터를 전달하는 경우와 반대의 경우 비교
def foo(count):
    x = count * 10
    print(x)

In [ ]:
foo(2)

20

In [ ]:
foo()

TypeError: foo() missing 1 required positional argument: 'count'

### 다중 파라미터

In [ ]:
# 여러 개의 매개변수 
# 특정 함수가 연산을 수행하기 위해 두 개 이상의 조건값이 필요하다면
#다음과 같이 콤마로 구분하여 명시_f(x1,x2)

In [ ]:
#기본값을 갖는 파라미터
def sum1(x,y,z=0):
    answer = x + y + z
    print(answer)

In [ ]:

#모든 파라미터 값을 전달하며 함수 호출
sum1(1,2,3)

6

In [ ]:
#초기값이 설정된 파라미터는 호출시에 생략 가능 
# -> 생략된 파라미터는 초기값으로 설정
sum1(10,20)

30

### 파라미터의 이름 지정

In [ ]:
def sum2(a,b,c=0,d=0):
    answer = a+b+c+d
    print(answer)

In [ ]:
#파라미터의 이름을 지정한 함수 호출
# -> 파라미터 전달 순서를 무시할 수 있다.
sum2( d=3,c=4,b=2,a=1)

10

In [ ]:
#함수에 정의된 기본값 활용
sum2(1,b=2)

3

### 값을 리턴하는 함수

In [ ]:
def plus(x,y):
    z=x+y
    return z    #자신이 호출된 위치로 값을 되돌림

In [ ]:
a = plus(10,20)     #리턴값을 다른 변수에 할당
print(a)

30

In [ ]:
print(plus(100,200)) #리턴값을 갖는 함수는 그 결과를 직접 출력

300

In [ ]:
b = plus(5,7)+100   #리턴값을 갖는 함수는 그 결과를 다른 연산에 활용
print(b)

112

## #3.조건문 이해하기

In [ ]:
print("시험시작")
score = int(input("점수를 입력하세요"))
if score >= 60:
    print("합격입니다")
print("시험 끝")

시험시작
시험 끝

### 조건식에 대한 다양한 유형

In [ ]:
#숫자형 변수에 대한 조건 처리
money = 10000
#money=0

if money:
    print("택시를 타고")
print("집에 가자")

택시를 타고
집에 가자

In [ ]:
# 문자열 변수에 대한 조건 처리
name = "python"
#name = ""   
#빈 문자열은 따옴표를 열고 즉시 닫은 형태, 공백문자도 하나의 글자로 취급
if name: 
    print(name)
print("프로그래밍")

python
프로그래밍

In [ ]:
#비교식을 사용한 if문_ == / != / > /<=

In [ ]:
#논리식을 사용한 if문
point = int(input("점수를 입력하세요"))
#AND --> 전체가 참이어야 결과가 참
if point > 70 and point <= 80:
    print("C학점")

#OR --> 하나라도 참이면 전체가 참
if point <= 70 or point > 80:
    print("C학점 아님" )

In [ ]:
#논리값에 대한 조건문
iskorean = True
#iskorean = false

if iskorean == True:
    print("한국사람입니다...(1)")

if iskorean != False:
    print("한국사람이 아닙니다...(2)")

if not iskorean:
    print("한국사람이 아닙니다...(3)")

한국사람입니다...(1)
한국사람이 아닙니다...(2)

### ELSE문

In [ ]:
#입력값에 따른 IF~ELSE 분기 파악
print("시험 시작")

score = int(input("점수를 입력하세요: "))  # 입력값을 정수형으로 변환

if score >= 60:
    print("합격입니다.")
else:
    print("불합격입니다.")

print("시험 끝")

시험 시작
합격입니다.
시험 끝

In [ ]:
#논리형 변수가 조건으로 사용되는 경우의 흐름제어 파악
# 사용자에게 질문 입력 받기
answer = input("한국인입니까? (Y/N) ")  # 예: Y

# 입력값에 따라 논리값 설정
if answer == "Y":
    isKorean = True
else:
    isKorean = False

# (1) 논리값을 조건으로 사용
# "만약 이 변수가 참이라면?" 의 의미
if isKorean:
    print("한국사람 입니다...(1)")
else:
    print("한국사람이 아닙니다...(2)")

# (2) 논리값의 부정형을 조건으로 사용
# "만약 이 변수가 거짓이라면?" 의 의미
if not isKorean:
    print("한국사람이 아닙니다...(3)")
else:
    print("한국사람 입니다...(4)")

한국사람이 아닙니다...(2)
한국사람이 아닙니다...(3)

### ELIF문

In [ ]:
#조건식이 True로 판정되는 첫 번째 블록만 실행
print("-----시험-----")
point = int(input("점수를 입력하세요"))
if point > 90:
    print("A")
elif point > 80:
    print("B")
elif point > 70:
    print("C")
else:
    print("불합격")
print("----시험 끝----")

-----시험-----
불합격
----시험 끝----

## #4. 반복문

### WHILE문

In [87]:
#1부터 10까지의 1씩 증가하는 조건에서의 반복문
x = 1                       #초기식_ 조건식을 판별하기 위한 기준값 생성
while x <= 10:              #조건식_조건 판별
    print("x=", x)
    x += 1                  #증감식_조건에 사용되는 값 변경
print("x의 최종값 =", x)
# x의 최종값은 (3)의 조건에 의해 x=10로 최종 반복

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값 = 11

In [ ]:
# 구구단 출력
x = int(input("숫자를 입력해주세요."))
#구구단 출력
y =1
while y < 10:
    z = x*y
    print(x,"x",y"y")
    x += 1
print("x의 최종값 =", x)

In [ ]:
# 1~10까지의 총 합을 구하기
# 총합을 구하기 위해서는 반복문 시작 전에 
# 합산 결과를 저장할 변수를 0으로 초기화해야 함
x = 1           # 초기식
sum = 0         # 총 합을 누적해서 저장할 변수
while x <= 10:  # 조건식 → x가 10보다 작거나 같은 동안 반복 수행
    sum += x
    print("x =", x, " -> sum =", sum)
    x += 1      # 증가식 → 조건에 사용되는 값 변경

In [ ]:
# 0부터 50 전까지( a<50 ) 10씩 증가( a+= 10 )

In [92]:
# 10부터 0전까지( b > 0) 2씩 감소( b -= 2)

### FOR문

In [93]:
# x가 1부터 11 전까지 1씩 증가하면서 반복 수행

for x in range(1, 11):
    # 반복이 진행되는 동안 수행할 명령
    print("x =", x)

# 반복이 끝난 후 x의 값 출력
print("x의 최종값 =", x)

# While문은 10보다 커야 종료되지만,
# for문은 10에서 종료

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = 10
x의 최종값 = 10

In [95]:
# 숫자를 입력받기

x = int(input("숫자를 입력하세요: "))  # 예: 7

# 1부터 9까지 1씩 증가하는 값을 y에 설정
for y in range(1, 10):
    # 반복이 진행되는 동안 수행할 명령
    z = x * y
    print(x, "x", y, "=", z)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [96]:
# 1~10까지의 총 합을 구하기
# 총합을 구하기 위해서는 반복문 시작 전에 합산 결과를
# 저장할 변수를 0으로 초기화

sum = 0   # 총 합을 누적해서 저장할 변수

for x in range(1, 11):  # x가 1부터 11전까지 1씩 증가하면서 반복수행
    # sum이 x만큼 스스로 증가
    # -> x가 1~10까지 변화하므로 sum은 1부터 10까지 순차적으로 증가
    sum += x
    print("x =", x, "-> sum =", sum)

x = 1 -> sum = 1
x = 2 -> sum = 3
x = 3 -> sum = 6
x = 4 -> sum = 10
x = 5 -> sum = 15
x = 6 -> sum = 21
x = 7 -> sum = 28
x = 8 -> sum = 36
x = 9 -> sum = 45
x = 10 -> sum = 55

In [ ]:
# 0부터 50전까지 10씩 증가 ==>  range(0,50,10)

In [ ]:
# 10부터 0전까지 -2씩 감소 ==> range(10,0,-2)