# [LAb-09] DB 프로그래밍

## 1. 단일행 데이터 조회

### DB접속

In [1]:
from sqlalchemy import create_engine,text
from pandas import DataFrame

In [3]:
config = {
    'username': 'root',
    'password': '1234',
    'hostname': 'localhost',
    'port': 9090,
    'database': 'myschool',
    'charset': 'utf8mb4'
}

con_str_tpl = "mariadb+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}"

con_str = con_str_tpl.format(**config)
print(con_str)

mariadb+pymysql://root:1234@localhost:9090/myschool?charset=utf8mb4

In [9]:
# DB에 접속하여 SQL실행 객체 생성
try:
    # con_str은 직전 블록에서 생성한 변수를 재사용하고 있음
    engine = create_engine(con_str)
    #DB에 접속하여 SQL실행 객체를 리턴
    conn = engine.connect()
    print("Database connect success!!!")
except Exception as e:
    #예외 발생시 에러 메시지를 참고하여 접속 정보 확인
    print("Datebase connect fail!!!", e)

Database connect success!!!

### 단일행 데이터 조회

In [12]:
# 단일행 데이터 조회
#sql문 정의
sql = text("SELECT id, name, grade, department_id FROM students WHERE id=10101")

try:
    # SQL문을 실행하여 결과 객체 받기
    result = conn.execute(sql)
except Exception as e:
    print("[SQL Error]",e)
    #코드의 진행을 중단시킴
    raise SystemExit
#SQL문 실행 결과를 딕셔너리를 포함하는 리스트 형태로 전환
resultset = result.mappings().all()
print(resultset)

[{'id': 10101, 'name': '황진우', 'grade': 1, 'department_id': 101}]

### WHERE절에 사용할 조건값을 변수로 만들기

In [ ]:
# 형식문자를 포함하는 SQL실행

# 검색할 조건값 입력받기
student_id = input("검색할 학번을 입력하세요")

#SQL문 정의 -> 변수로 치환할 부부을 ':변수명" 형식으로 처리함
##          -> 치환될 문자는 문자열이라더도 홑따옴표 사용 안함
sql = text("SELECT id, name, grade, department_id FROM students WHERE id = :student_id")

#SQL문의 물음표를 치환할 값을 딕셔너리로 묶음(물음표 순서에 따라 조합)
params = {"student_id" : student_id}

try:
    #SQL문을 실행하여 결과 객체 받기 -> 치환할 값에 대한 딕셔너리도 함께 전달
    result = conn.execute(sql, params)
except Exception as e:
    print("[SQL Error]", e)
    #코드의 진행을 중단시킴
    raise SystemExit
# 단일행 조회에 대한 결과 집합 추출
resultset = result.mappings().all()
print(resultset)

[{'id': 10101, 'name': '황진우', 'grade': 1, 'department_id': 101}]

## 2. 다중행 데이터 조회

### 여러 행을 반환하는 SQL문 실행

In [21]:
sql = text("SELECT id, dname, loc, phone, email FROM departments LIMIT 0,5") 

try:
    result = conn.execute(sql)
except Exception as e:
    print("[SQL Error]", e)
    raise SystemExit
resultset = result.mappings().all()
print(resultset)

[{'id': 101, 'dname': '컴퓨터공학과', 'loc': '공학관', 'phone': '051-123-4567', 'email': 'cs@myschool.ac.kr'}, {'id': 102, 'dname': '소프트웨어학과', 'loc': '공학관', 'phone': '051-124-4567', 'email': 'media@myschool.ac.kr'}, {'id': 201, 'dname': '전자공학과', 'loc': '공학관', 'phone': '051-125-4567', 'email': 'ee@myschool.ac.kr'}, {'id': 202, 'dname': '기계공학과', 'loc': '공학관', 'phone': '051-126-4567', 'email': 'me@myschool.ac.kr'}, {'id': 203, 'dname': '건축학과', 'loc': '건축관', 'phone': '051-127-4567', 'email': 'arch@myschool.ac.kr'}]

### 결과 집합 사용

In [23]:
# 리스트의 길이는 조회된 결과 집합의 수
# 'resultest'은 직전 코드 블록에서 생성한 객체
print("총 %d건의 데이터 조회됨" %len(resultset))
tmpl = "학과번호:{id}, 학과이름: {dname}, 위치: {loc}, 연락처:{phone}, 이메일{email}"
for row in resultset:
    print(tmpl.format(**row))

총 5건의 데이터 조회됨
학과번호:101, 학과이름: 컴퓨터공학과, 위치: 공학관, 연락처:051-123-4567, 이메일cs@myschool.ac.kr
학과번호:102, 학과이름: 소프트웨어학과, 위치: 공학관, 연락처:051-124-4567, 이메일media@myschool.ac.kr
학과번호:201, 학과이름: 전자공학과, 위치: 공학관, 연락처:051-125-4567, 이메일ee@myschool.ac.kr
학과번호:202, 학과이름: 기계공학과, 위치: 공학관, 연락처:051-126-4567, 이메일me@myschool.ac.kr
학과번호:203, 학과이름: 건축학과, 위치: 건축관, 연락처:051-127-4567, 이메일arch@myschool.ac.kr

In [25]:
df1 = DataFrame(resultset)
print(df1)

     dname                 email   id  loc         phone
0   컴퓨터공학과     cs@myschool.ac.kr  101  공학관  051-123-4567
1  소프트웨어학과  media@myschool.ac.kr  102  공학관  051-124-4567
2    전자공학과     ee@myschool.ac.kr  201  공학관  051-125-4567
3    기계공학과     me@myschool.ac.kr  202  공학관  051-126-4567
4     건축학과   arch@myschool.ac.kr  203  건축관  051-127-4567

In [26]:
df2 = DataFrame(resultset)
df2

     dname                 email   id  loc         phone
0   컴퓨터공학과     cs@myschool.ac.kr  101  공학관  051-123-4567
1  소프트웨어학과  media@myschool.ac.kr  102  공학관  051-124-4567
2    전자공학과     ee@myschool.ac.kr  201  공학관  051-125-4567
3    기계공학과     me@myschool.ac.kr  202  공학관  051-126-4567
4     건축학과   arch@myschool.ac.kr  203  건축관  051-127-4567

### 입력값에 따른 검색 결과 만들기

In [33]:
keyword = input("검색할 교수 이름을 입력하세요.")
sql = text(""" select
           p.id as 교수번호, name as 이름, position as 직급, sal as 급여,
           comm as 보직수당, hiredate as 입사일시, dname as 소속학과
           from professors p
           inner join departments d on p.department_id = d.id
           where name like concat('%', :keyword, '%')
           """)
try:
    result = conn.execute(sql, {"keyword" : keyword})
except Exception as e:
    print("[SQL Error]", e)
    raise SystemExit
resultset = result.mappings().all()
df = DataFrame(resultset)
df

    교수번호   급여  보직수당     소속학과   이름                입사일시    직급
0   9901  390   NaN   컴퓨터공학과  차미경 2023-07-14 23:24:53  전임강사
1   9902  552   NaN  소프트웨어학과  허경희 1999-08-19 03:13:25  전임강사
2   9903  508   NaN  소프트웨어학과  전종수 2011-02-18 18:44:22   조교수
3   9904  479  28.0  소프트웨어학과  이성훈 2015-08-08 21:22:48   조교수
4   9905  392   NaN  소프트웨어학과  이정남 1996-04-02 20:24:35   부교수
5   9906  300  21.0  소프트웨어학과  김현주 2006-08-31 01:04:24    교수
6   9907  443  12.0    전자공학과  이은영 1999-01-04 15:55:04  전임강사
7   9908  273  17.0    전자공학과  박서영 2011-07-22 02:10:41  전임강사
8   9909  392  24.0    전자공학과  김정훈 2001-09-09 07:36:05    교수
9   9910  593   NaN    전자공학과  강영호 2011-04-03 07:37:22   조교수
10  9911  486  22.0    전자공학과  박영미 2015-11-29 01:07:18   조교수
11  9912  266  20.0    기계공학과  윤서현 2011-07-22 09:22:36   조교수
12  9913  358  30.0     건축학과  장정자 2020-06-29 11:14:45   부교수
13  9914  385   NaN     건축학과  김지아 2002-08-06 23:35:57   조교수
14  9915  548  22.0     건축학과  이옥순 2023-11-15 15:17:27    교수
15  9916  274   NaN     건축학과  이정식 2002-08-13 12:19:42  전임강사
16  9917  447  22.0     건축학과  박경수 2020-11-09 06:32:30  전임강사
17  9918  578   NaN  산업디자인학과  오미영 2010-06-17 07:32:06   부교수
18  9919  384   NaN     경영학과  이명숙 2002-12-03 07:22:12  전임강사
19  9920  328   NaN     경영학과  장지후 2005-01-30 18:03:04   조교수
20  9921  500   NaN     경영학과  박현숙 2001-03-19 05:40:14   부교수
21  9922  373   NaN     경영학과  최정자 2007-07-05 05:28:22  전임강사
22  9923  315   NaN     경제학과  박경희 2001-06-13 22:19:25   조교수
23  9924  409  22.0   영어영문학과  허예진 2016-08-11 02:49:21   조교수
24  9925  376   NaN   영어영문학과  박영일 2019-06-10 05:26:28  전임강사
25  9926  253   NaN     심리학과  김정웅 2012-07-24 21:27:58   조교수
26  9927  300   NaN     심리학과  진주원 2020-09-21 02:49:53   부교수
27  9928  526  14.0     심리학과  이영길 2016-12-22 19:59:30   조교수
28  9929  300  13.0     심리학과  최영식 2009-01-29 06:54:03   조교수
29  9930  277   NaN     심리학과  박유진 2011-05-25 13:10:56    교수
30  9931  510   NaN   컴퓨터공학과  박태수 2025-04-11 16:36:57   부교수
31  9932  520   NaN     심리학과  최정훈 2018-03-02 00:00:00   부교수
32  9933  580   NaN   컴퓨터공학과  김도현 2025-10-10 11:41:31    교수

## #3. 데이터 입력/수정/삭제