In [1]:
from sqlalchemy import create_engine,text
from pandas import DataFrame

config = {
    'username': 'root',
    'password': '1234',
    'hostname': 'localhost',
    'port': 9090,
    'database': 'myschool',
    'charset': 'utf8mb4'
}

con_str_tpl = "mariadb+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}"

con_str = con_str_tpl.format(**config)
print(con_str)

mariadb+pymysql://root:1234@localhost:9090/myschool?charset=utf8mb4

In [2]:
try:
    engine = create_engine(con_str)
    conn = engine.connect()
    print("Database connect success!!!")
except Exception as e:
    print("Datebase connect fail!!!", e)

Database connect success!!!

In [3]:

create_table_sql = """
CREATE TABLE IF NOT EXISTS covid19 (
    id INT AUTO_INCREMENT PRIMARY KEY,  
    covid_date VARCHAR(10),
    seoul_confirmed INT,
    seoul_death INT,
    country_confirmed INT,
    country_death INT
)
"""

with engine.connect() as conn:
    conn.execute(text(create_table_sql))
    conn.commit()

print(" covid19 테이블이 성공적으로 생성되었습니다.")

 covid19 테이블이 성공적으로 생성되었습니다.

In [4]:
from pandas import read_csv
df = read_csv("covid19.csv", encoding='cp949')
df.columns = ['covid_date', 'seoul_confirmed', 'seoul_death', 'country_confirmed', 'country_death']

try:
    df.to_sql(name='covid19', con=engine, if_exists='append', index=False)
    print(" CSV 데이터가 covid19 테이블에 성공적으로 삽입되었습니다.")
except Exception as e:
    print(f" 데이터 삽입 중 오류 발생: {e}")

 CSV 데이터가 covid19 테이블에 성공적으로 삽입되었습니다.

In [ ]:
from pandas import read_sql

sql = text("""select id, covid_date, seoul_confirmed, seoul_death, 
           country_confirmed, country_death  
           from covid19 
           limit 5
           """)
try:
    with engine.connect() as conn:
        result = conn.execute(sql)
        resultset = result.mappings().all()
        df1 = DataFrame(resultset)
        print(" 쿼리 결과 (상위 5개 행):")
        print(df1)
except Exception as e:
    print(f"[SQL Error] 쿼리 실행 실패: {e}")
    raise SystemExit

✅ 쿼리 결과 (상위 5개 행):
   country_confirmed  country_death  covid_date  id  seoul_confirmed  \
0              24411             17  2023-05-31   1             5987
1              13529              7  2023-05-30   2             3326
2               6868              3  2023-05-29   3             1393
3               6868              3  2023-05-28   4             1393
4              17796              3  2023-05-27   5             4078

   seoul_death
0            6
1            1
2            1
3            1
4            0

In [ ]:
from pandas import read_sql
from sqlalchemy import text
import pandas as pd 

SQL_QUERY_2 = """
    SELECT
        DATE_FORMAT(covid_date, '%Y/%m') AS `년/월`,
        SUM(seoul_confirmed) AS 서울_확진자_합계,
        SUM(seoul_death) AS 서울_사망자_합계,
        SUM(country_confirmed) AS 전국_확진자_합계,
        SUM(country_death) AS 전국_사망자_합계
    FROM covid19
    GROUP BY `년/월`
    ORDER BY `년/월`
"""

EXCEL_FILE = 'covid19_monthly_summary.xlsx'

print(" 요구사항 2: 월별 합계 조회 및 엑셀 저장 시작")
try:
    with engine.connect() as conn:
        result_df = read_sql(text(SQL_QUERY_2), conn)       
        print(" SQL 쿼리 실행 및 결과 DataFrame 변환 성공!")
    if result_df.empty:
        print(" 쿼리 결과가 비어있습니다. 테이블에 데이터가 정상적으로 삽입되었는지 확인하세요.")
    else:
        print(f" 월별 합계 데이터 확인 (총 {len(result_df)} 행):\n{result_df.head()}")
        result_df.to_excel(EXCEL_FILE, index=False)
        print(f" 쿼리 결과를 '{EXCEL_FILE}' 파일로 저장했습니다.")

except Exception as e:
    print(f" SQL 실행 및 엑셀 저장 중 오류 발생: {e}")
    # raise SystemExit

▶️ 요구사항 2: 월별 합계 조회 및 엑셀 저장 시작
 SQL 쿼리 실행 및 결과 DataFrame 변환 성공!
 월별 합계 데이터 확인 (총 40 행):
       년/월  서울_확진자_합계  서울_사망자_합계  전국_확진자_합계  전국_사망자_합계
0  2020/02        0.0        0.0        0.0        0.0
1  2020/03        0.0        0.0        0.0        0.0
2  2020/04        7.0        0.0       82.0        0.0
3  2020/05      228.0        0.0      709.0        0.0
4  2020/06      451.0        0.0     1335.0        0.0
 쿼리 결과를 'covid19_monthly_summary.xlsx' 파일로 저장했습니다.