# [ LAB-09 ] DB 프로그래밍(연구과제)

## #01. DB 테이블 구성

``` sql
use myschool;

drop table if exists covid19; 

create table if not exists covid19(
    id int not null auto_increment comment '일련번호',
    covid_date DATE not null comment '날짜',
    seoul_confirmed int not null default 0 comment '서울시 확진자 수',
    seoul_death int not null default 0 comment '서울시 사망자 수',
    korea_confirmed int not null default 0 comment '전국 확진자 수',
    korea_death int not null default 0 comment '전국 사망자 수',
    primary key (id)
)
default charset utf8 collate utf8_bin comment '코로나19 일일 확진/사망자';

## #02. CSV파일 가져오기

In [1]:
with open('covid19.csv', 'r', encoding="utf-8") as f:  # utf-8,euc-kr
    csv=f.readlines()

print(csv[:5])

['covid_date,seoul_confirmed,seoul_death,korea_confirmed,korea_death\n', '2023-05-31,5987,6,24411,17\n', '2023-05-30,3326,1,13529,7\n', '2023-05-29,1393,1,6868,3\n', '2023-05-28,1393,1,6868,3\n']

## #03. CSV파일의 내용을 DB테이블에 insert하기

### 필요한 라이브러리  참조

In [2]:
from sqlalchemy import create_engine, text

### DB 접속 문자열 생성

In [3]:
config = {
    'username': 'root',
    'password': '1234',
    'hostname': 'localhost',
    'port': 9090,                 # 설치시 설정한 포트번호(기본값:3306)
    'database': 'myschool',
    'charset': 'utf8mb4'          # 한글 깨짐 방지(DB의 설정과 동일하게 지정)
}

con_str_tpl = "mariadb+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}"

con_str = con_str_tpl.format(**config)
print(con_str)

mariadb+pymysql://root:1234@localhost:9090/myschool?charset=utf8mb4

## #03 DB에 접속하여 sQL실행 객체 생성

### DB에 접속하여 SQL 실행 객체 생성

In [4]:
# DB에 접속하여 SQL실행 객체 생성
try:
    # con_str은 직전 블록에서 생성한 변수를 재사용하고 있음
    engine = create_engine(con_str)
    #DB에 접속하여 SQL실행 객체를 리턴
    conn = engine.connect()
    print("Database connect success!!!")
except Exception as e:
    #예외 발생시 에러 메시지를 참고하여 접속 정보 확인
    print("Datebase connect fail!!!", e)

Database connect success!!!

### 데이터 저장

In [5]:
sql = text(
    """
        INSERT INTO covid19 (
            covid_date, seoul_confirmed, seoul_death, korea_confirmed, korea_death
        ) VALUES (
            :covid_date, :seoul_confirmed, :seoul_death, :korea_confirmed, :korea_death
        )
    """)
try:
    #CSV파일의 행 수 만큼 반복하면서 sql문 실행
    for i,v in enumerate(csv ):
        #제목 행은 건너뜀
        if i == 0:
            continue
        # readlines()로 행을 분리 할 경우 각 행의 끝에 줄바꿈 문자가 포함되므로,
        # strip()을 먼저 수행하여 앞 뒤 공백(줄바꿈 문자 포함)을 제거해야 함
        item = v.strip().split(",")

        for j in range(1, len(item)):
            if item[j].isnumeric():
                item[j] = int(item[j])
            else:
                item[j] = 0

        #print(item)

        params = { "covid_date":item[0], "seoul_confirmed":item[1], "seoul_death":item[2], 
                "korea_confirmed":item[3], "korea_death":item[4]}
        #print(params)

        conn.execute(sql, params)
    conn.commit()
except Exception as e:
    print("SQL Error:", e)
    conn.rollback()
    raise SystemExit

SQL Error: (pymysql.err.OperationalError) (1054, "Unknown column 'korea_confirmed' in 'INSERT INTO'")
[SQL:
        INSERT INTO covid19 (
            covid_date, seoul_confirmed, seoul_death, korea_confirmed, korea_death
        ) VALUES (
            %(covid_date)s, %(seoul_confirmed)s, %(seoul_death)s, %(korea_confirmed)s, %(korea_death)s
        )
    ]
[parameters: {'covid_date': '2023-05-31', 'seoul_confirmed': 5987, 'seoul_death': 6, 'korea_confirmed': 24411, 'korea_death': 17}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

SystemExit:

C:\Users\itwill\AppData\Roaming\Python\Python313\site-packages\IPython\core\interactiveshell.py:3707: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

## #04. 그룹조회로 집계 결과 가져오기